#This was used when shared library was private

# @VeckovN:registry=https://npm.pkg.github.com/VeckovN
# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}
#create token 
    #on windows machine: set NPM_TOKEN='token' -> token from 'secret.md' file
    #on linux machine: export NPM_TOKEN='token'


@veckovn:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}